.nav-right-margin {
  margin-right: 100px;
}

.navbar-brand-left-margin {
  margin-left: 100px;
}

.jumbotron-colors {
  background-color: #17A2B8;
  color: white;
}

.main-h-font {
  font-size: 1.2rem;
}
